   
    
    body {
        background-color: #ffffff;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    
    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    
    .profile-info {
        margin-top: 20px;
    }
    
    .schedule {
        margin-top: 20px;
        background-color:#2980b9    ;
        padding: 10px;
        border-radius: 10px;
    }
    
    .schedule h2 {
        text-align: center;
        color: white;
    }
    
    .schedule-button {
        width: 100%;
        padding: 10px;
        border: none;
        border-radius: 5px;
        margin: 5px 0;
        color: white;
        cursor: pointer;
    }
    
    .red {
        background-color: #dc3545;
    }
    
    .blue {
        background-color: #007bff;
    }


#side-button{
    display: inline;
    justify-content: left;
    flex: end;
}