body {
    font-family: Arial, sans-serif;
    background-color:rgb(231, 233, 222);
    color: #34495e;
    margin: 0;
}

.logo {
    max-width: 100px; 
}

.menu {
    display: block; 
    margin-bottom: 20px;
}

#btn {
    padding: 10px 20px;
    background-color: #007BFF; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding-right: 300px;
}

.container {
    max-width: 400px;
    margin: auto;
    background-color:rgb(231, 233, 222);;
    border-radius: 15px;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

.user-info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#perfil {
    width: 150px;
    height:150px;
}

.user-details {
    flex-grow: 1;
}

.schedule {
    background-color: #3498db;
    padding: 10px;
    border-radius: 10px;
}

.schedule h2 {
    color: white;
    margin: 0 0 15px 0;
    text-align: center;
}

.schedule-item {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.schedule-item.red {
    background-color: #e74c3c;
}

.schedule-item.blue {
    background-color: #2980b9;
}

.schedule-item:hover {
    opacity: 0.8;
}

.menu-toggle {
    cursor: pointer;
}

nav {
    background: #f8f8f8;
}

nav.hidden {
    display: none;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    padding: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #007BFF;
}

.content {
    padding: 20px;
}

.horarios button {
    width: 100%;
    margin: 5px 0;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}