body {
    font-family: "WDXL Lubrifont TC", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: rgb(231, 233, 222);
    color: #34495e;
    margin: 0;
}

.container {
    max-width: 400px;
    margin: auto;
    background-color: rgb(231, 233, 222);
    padding: 20px;
    justify-content: space-between;
    align-items: center;
}

.logo {
    max-width: 100px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.menu-toggle {
    cursor: pointer;
    font-size: 24px;
    z-index: 4;
    position: relative;
}

/* MENU ESTILIZADO */
#menu {
    z-index: 10;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: rgb(44, 85, 116);
    width: 200px;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: opacity 0.3s ease;
}

nav.hidden {
    display: none;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    padding: 12px 16px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    display: block;
}

nav ul li:hover {
    background-color: #355c77;
}

/* USUÁRIO */
.user-info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#perfil {
    width: 150px;
    height: 150px;
    margin-right: 20px;
}

.user-details {
    flex-grow: 1;
}

/* HORÁRIOS */
.schedule h2 {
    color: black;
    margin: 0 0 15px 0;
    text-align: center;
}

.box {
    margin: 10px;
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.box h2 {
    color: #34495e;
}

.box.red {
    background-color: #e74c3c;
}

.box.blue {
    background-color: #3c56e7;
}
