body {
    font-family: Arial, sans-serif;
    background-color:rgb(231, 233, 222);
    color: #34495e;
    margin: 0;
}

.container {
    max-width: 400px;
    margin: auto;
    background-color:rgb(231, 233, 222);
    border-radius: 15px;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
}

.logo {
    max-width: 100px;
}

#menu{
    z-index: 3;
    background-color:rgb(44, 85, 116);;


}

.menu-toggle {
    cursor: pointer;
    font-size: 24px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

nav {
    background: #f8f8f8;
}

nav.hidden {
    display: none;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    padding: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #cecece;
}

.user-info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#perfil {
    width: 150px;
    height:150px;
    margin-right: 20px;
}

.user-details {
    flex-grow: 1;
}

.schedule {
    background-color: #3498db;
    padding: 10px;
    border-radius: 10px;
}

.schedule h2 {
    color: rgb(0, 0, 0);
    margin: 0 0 15px 0;
    text-align: center;
}

.schedule-item {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.schedule-item.blue {
    background-color: #2980b9;
}

.schedule-item:hover {
    opacity: 0.8;
}

